.sidebar {
  height: 100%;
  width: 0; /* Başlangıçta kapalı */
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #5C6D53;
  color: #fdfdfd;
  overflow-x: hidden;
  transition: 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); /* Kayma efekti */
  padding-top: 60px;
  box-shadow: inset 8px 0 15px -5px rgba(44, 62, 80, 0.8), inset 3px 0 0 0 #2C3E50, -10px 0 30px rgba(0,0,0,0.4);
}

.contact-sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.contact-sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
}

.sidebar h3 {
  text-align: center;
  padding-left: 0;
  margin-bottom: 30px;
  color: #fdfdfd;
  font-size: 28px;
  text-shadow: 
    -1px -1px 0 #2C3E50,  
     1px -1px 0 #2C3E50,
    -1px  1px 0 #2C3E50,
     1px  1px 0 #2C3E50,
     0px  3px 5px rgba(0,0,0,0.3);
}

.sidebar a, .sidebar p {
  padding: 10px 10px 10px 30px;
  display: block;
  color: #fdfdfd;
  font-size: 16px;
  text-shadow: 
    -1px -1px 0 #2C3E50,  
     1px -1px 0 #2C3E50,
    -1px  1px 0 #2C3E50,
     1px  1px 0 #2C3E50;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 30px;
  cursor: pointer;
  color: #fdfdfd;
  text-shadow: 
    -1px -1px 0 #2C3E50,  
     1px -1px 0 #2C3E50,
    -1px  1px 0 #2C3E50,
     1px  1px 0 #2C3E50;
}